.card {
    padding: 20px;
    border-style: dotted;
    border-color: black;
    margin: auto;
    box-sizing: border-box;
    background-color: bisque;
    box-shadow: 50px;
    animation: spin 1500s linear infinite;
    transition: cubic-bezier(0.23, 1, 0.320, 1);
}
@keyframes spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(3600deg);
    }
} 
img {
    border: 3px solid;
    margin-bottom: 15px;
}
h2 {
    margin: 10px;
}
p {
    margin: 10px;
}
button {
    padding: 10px;
    border: 2px;
    align-items: center;
    margin-top: 15px;
    color: brown;
    background-color: aquamarine;
}
   

button:hover {
    background-color: rgb(79, 114, 114);
}
h3 {
    text-align: right;
    
}
